@import url(https://fonts.googleapis.com/css?family=Vollkorn:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic);

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Vollkorn";
  font-size: 16px;
  line-height: 1.4;
  color: #ffffff;
  overflow-x: hidden;
  background-color: #141414;
  padding: 0;
  margin: 0;
}

@media (max-width: 600px) {
  body {
    width: 400px;
    height: auto;
    display: inline;
    padding: 20px;
  }
}

section {
  padding: 50px 0;
}




/* HEADER SECTION */




header {
  padding: 0 10px;
}
.navbar {
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: #000;
  z-index: 999;
  border-bottom: 1px solid rgb(255, 255, 255);
}

@media (max-width: 600px) {
  .navbar {
    width: 600px;
    height: 55px;
  }
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar-left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-logo img {
  max-width: 150px;
}

.navbar-menu li {
  display: inline-block;
  text-align: center;
  padding-right: 15px;
}

.navbar-menu li a {
  transition: transform 0.3s;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 20px;
  font-size: 22px;
  font-weight: 350;
}

.navbar-menu li a:hover {
  transform: scale(1.1);
  opacity: 0.6;
  color: #ffffff;
}

.navbar-wrap {
  display: flex;
  flex-flow: row nowrap;
}

.navbar-brand {
  transition: transform 0.3s;
  padding-left: 100px;
  font-weight: 800;
  font-size: 30px;
  text-decoration: none;
  color: white;
  transition: all 0.3s ease-in-out;
}

.navbar-toggle {
  display: none;
}

main {
  width: 100%;
}

/* ABOUT SECTION */



.about-sector {
  padding: 50px 0 0 0;
  background-color: #fff;
  color: black;
  width: 100%;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.about-photo img {
  width: 1000px;
}

@media (max-width: 600px) {
  .about-text h1 {
    font-size: 25px;
  }
}

.about-text {
  text-align: right;
  font-size: 18px;
  width: 45%;
}

.about-text h1 {
  font-size: 3rem;
}



@media (max-width: 600px) {
  .about-text {
    text-align: center;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.about-num {
  font-weight: 1000;
  font-size: 20px;
  background-color: #141414;
  color: white;
  width: 700px;
}

@media (max-width: 600px) {
  .about-num {
    font-size: 18px;
  }
}



/* TEAM SECTION */



.team-sector {
  color: white;
  background-color: #141414;
  width: 100vw;
}

.team-name {
  text-align: center;
  font-size: 3rem;
}

.team-content {
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  text-align: center;
}

.team-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo-container {
  margin: 0 20px;
}

.photo {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.photo-h {
  width: 100%;
  padding: 20px;
}

.photo-about {
  text-align: center;
  margin: 0 auto;
}

.photo-about h3 {
  font-weight: 800;
}



/* PRICES SECTION */

.price-sector {
  background-color: #fff;
  color: #000;
}

.price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-bottom: 40px;
}

.price {
  text-align: center;
  font-size: 3rem;
}

.price-image {
  width: 40%;
}

.price-image img {
  max-width: 90%;
}

.learn-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.plus-personal,
.plus-group {
  font-size: 18px;
  width: 500px;
}

.personal-learn,
.group-learn {
  color: #fff;
  background-color: #141414;
  border-radius: 12px;
  text-align: center;
}

.sertificat-about {
  padding-top: 25px;
  width: 600px;
}



/* GEO SECTION */

.geo-section {
  background-color: #141414;
  color: #fff;
}

.geolocation-name {
  text-align: center;
  font-size: 3rem;
}

.geo-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.geo-photo {
  width: 550px;
}

.geo-header {
  font-size: 2rem;
  text-align: right;
}

.geo-insta {
  transition: transform 0.3s;
  text-decoration: none;
  color: rgb(163, 163, 163);
  border-radius: 100px;
  text-align: right;
  font-size: 1.3rem;
}

.geo-insta:hover {
  transform: scale(1.05);
  color: rgb(163, 163, 163);
}

.geo-number {
  transition: transform 0.3s;
  text-decoration: none;
  color: rgb(163, 163, 163);
  border-radius: 100px;
  text-align: right;
  font-size: 1.3rem;

}

.geo-number:hover {
  transform: scale(1.05);
  color: rgb(163, 163, 163);
}

.adress {
  text-align: right;
  color: rgb(163, 163, 163);
  font-size: 1.3rem;
}

.map {
  width: 550px;
  height: 650px;
}

.geo-txt {
  text-align: center;
  font-size: 18px;
}

.welcome {
  text-align: center;
  font-size: 2.5rem;
}

.welcome-txt {
  text-align: center;
  font-size: 1.3rem;  
}



/* FOOTER */



footer {
  background-color: #000;
  border-top: 2px solid white;
}

.footer-container {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
