@import url(https://fonts.googleapis.com/css?family=Vollkorn:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic);

html {
  scroll-behavior: smooth;
  max-width: 100%;
}

body {
  font-family: "Vollkorn";
  font-size: 16px;
  max-width: 100%;
  height: 100%;
  line-height: 1.4;
  overflow-x: hidden;
  background-color: #141414;
  padding: 0;
  margin: 0;
}

@media (max-width: 600px) {
  body {
    width: 400px;
    height: auto;
    display: inline;
    padding: 20px;
  }
}

.sector-no-padding {
  padding: 50px 0 0 0;
  width: 100%;
}

.sector-padding {
  padding: 50px 0;
  width: 100%;
}

main {
  width: 100%;
}




/* INTRO */




.intro-sector {
  background-color: rgb(5, 5, 5);
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
  position: fixed;
  animation-name: opacity;
  animation-duration: 6s;
}

.hidden {
  display: none;
  position: sticky;
}

.intro-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-container img {
  max-width: 350px;
  box-shadow: 7px 13px 17px 3px rgba(0, 0, 0, 0.61);
  -webkit-box-shadow: 7px 13px 17px 3px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 7px 13px 17px 3px rgba(0, 0, 0, 0.61);
}




/* HEADER SECTION */




.navbar {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: #000;
  z-index: 10;
  border-bottom: 1px solid rgb(255, 255, 255);
}

@media (max-width: 600px) {
  .navbar {
    width: 600px;
    height: 55px;
  }
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 50px;
}

.navbar-left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-logo img {
  max-width: 150px;
}

.navbar-menu li {
  display: inline-block;
  text-align: center;
  padding: 0 20px;
}

.navbar-menu li a {
  transition: transform 0.1s;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 22px;
  font-weight: 350;
}

.navbar-menu li a:hover {
  transform: scale(1.03);
  opacity: 0.6;
  color: #ffffff;
}

.burger {
  cursor: pointer;
}

.burger-sticks{
  width: 40px;
  height: 4px;
  background-color: rgb(255, 255, 255);
  margin: 8px 0;
}



/* ABOUT SECTION */



.about-sector {
  padding: 50px 0 0 0;
  background-color: #fff;
  color: black;
  width: 100%;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.about-photo img {
  width: 1000px;
}

@media (max-width: 600px) {
  .about-text h1 {
    font-size: 25px;
  }
}

.about-text {
  text-align: right;
  font-size: 18px;
  width: 45%;
}

.about-text h1 {
  font-size: 3rem;
}



@media (max-width: 600px) {
  .about-text {
    text-align: center;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.about-num {
  font-weight: 1000;
  font-size: 20px;
  background-color: #141414;
  color: white;
  width: 700px;
}

@media (max-width: 600px) {
  .about-num {
    font-size: 18px;
  }
}



/* TEAM SECTION */



.team-sector {
  color: white;
  background-color: #141414;
  width: 100vw;
}

.team-name {
  text-align: center;
  font-size: 3rem;
}

.team-content {
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  text-align: center;
}

.team-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo-container {
  margin: 0 20px;
}

.photo {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.photo-h {
  width: 100%;
  padding: 20px;
}

.photo-about {
  text-align: center;
  margin: 0 auto;
}

.photo-about h3 {
  font-weight: 800;
}



/* PRICES SECTION */



.price-sector {
  background-color: #fff;
  color: #000;
}

.price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.price {
  text-align: center;
  font-size: 3rem;
}

.price-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.price-image img {
  max-width: 85%;
}

.learn-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
}

.plus-personal,
.plus-group {
  font-size: 18px;
  width: 500px;
}

.personal-learn,
.group-learn {
  color: #fff;
  background-color: #141414;
  border-radius: 12px;
  text-align: center;
}

.sertificat-about {
  width: 500px;
}



/* GEO SECTION */



.geo-section {
  background-color: #141414;
  color: #fff;
}

.geolocation-name {
  text-align: center;
  font-size: 3rem;
}

.geo-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.geo-photo {
  width: 550px;
}

.geo-header {
  font-size: 2rem;
  text-align: right;
}

.geo-insta {
  transition: transform 0.3s;
  text-decoration: none;
  color: rgb(163, 163, 163);
  border-radius: 100px;
  text-align: right;
  font-size: 1.3rem;
}

.geo-insta:hover {
  transform: scale(1.05);
  color: rgb(163, 163, 163);
}

.geo-number {
  transition: transform 0.3s;
  text-decoration: none;
  color: rgb(163, 163, 163);
  border-radius: 100px;
  text-align: right;
  font-size: 1.3rem;

}

.geo-number:hover {
  transform: scale(1.05);
  color: rgb(163, 163, 163);
}

.adress {
  text-align: right;
  color: rgb(163, 163, 163);
  font-size: 1.3rem;
}

.map {
  width: 550px;
  height: 650px;
}

.geo-txt {
  text-align: center;
  font-size: 18px;
}

.welcome {
  text-align: center;
  font-size: 2.5rem;
}

.welcome-txt {
  text-align: center;
  font-size: 1.3rem;
}



/* FOOTER */

footer {
  background-color: #000;
  color: white;
  border-top: 2px solid white;
}

.footer-container {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



/* ANIMATION */



@keyframes opacity {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
